body {
    background-image:url(/imagenes/car-wheel-vehicle-tire-automotive-lighting-blue-2065063-wallhere.com.jpg);
    background-size: cover;
    background-color:wheat;
}

* {
    font-family: 'Silkscreen', cursive;
}

h1 {
    color:violet;
    font-size: 100px;
    text-align: center;
    transform:rotate(10%); 
}

h2 {
    color: white;
}

.bals {
    color: black;
}

a {
    color:black;
    font-family: 'Lucida Sans';
}

.mb-3 {
    color: aqua;
}

.formulario-titulo{
    color:white;
}

.formulario {
    color: white;
}

.type {
    color: black;
}

h4 {
    color: violet;
}

.redessociales {
    color: violet;
}